@base-bg: #fff;
@base-bg-second: #F2F2F2;
@dark-bg: #263645;


@header-color: #fff;
@base-color: #2D3134;
@address-color: #CE265A;
@label-color: #CE265A;
@inverse-text-color: #fff;
@dark-text-color: #263645;


@nav-list-padding: 18px;
