@font-normal:  normal;
@font-bold:  bold;
@font-lighter:  lighter;

@header-bg: #263645;
@header-color: #fff;
@header-font-size: 23px;

@nav-font-size: 18px;
@nav-font-weight: bold;


@block: block;
@nav-list-padding: 18px;
@text-topcase: uppercase;
