/*backround*/
@base-bg: #fff;
@base-bg-second: #F2F2F2;
@dark-bg: #263645;

/*text-color*/
@header-color: #fff;
@base-color: #2D3134;
@pink-color: #CE265A;
@inverse-text-color: #fff;
@dark-text-color: #263645;
