.application{
  background: transparent;
  text-align: center;
}

.application__link-block{
  text-align: center;
}

.application__link-downoload{
  padding: 15px 0;
  color: @inverse-text-color;
  border-radius: 30px;
  border: 3px solid #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  display: block;
  margin: 23px auto 29px;
  max-width: 275px;
}

.application__link{
  display: inline-block;
  vertical-align: bottom;;
  margin: 0 16px;
}

.application__remark{
  color: @inverse-text-color;
  font-size: 14px;
  font-weight: lighter;
  text-align: center;
  margin: 18px 20px 30px 20px;
  display: inline-block;
  vertical-align: top;
  line-height: 24px;
}

@media @tablet-width{
  .application{
    width: 340px;
  }

  .application__link-downoload{
    max-width: 295px;
    margin: 23px auto 43px;
  }

  .application__remark{
    margin: 33px 15px 30px 15px;
    font-size: 18px;
  }
}

@media @desktop-width{
  .application__link-downoload{
    margin: 45px auto 65px;
    font-size: 21px;
  }
  .application__remark{
    margin: 60px 15px 40px 15px;
  }
}
