.application{
  background: transparent;
}

.application__link-block{
  text-align: center;
}

.application__link-downoload{
  padding: 15px 0;
  color: @inverse-text-color;
  border-radius: 30px;
  border: 3px solid #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  display: block;
  margin: 28px auto;
  max-width: 280px;
}

.application__link{
  display: inline-block;
  vertical-align: baseline;
  height: 60px;
  width: 60px;
  margin: 0 10px;
}

.application__remark{
  color: @inverse-text-color;
  font-size: 14px;
  font-weight: lighter;
  text-align: center;
  margin: 6px 20px 30px 20px;
  display: inline-block;
  vertical-align: top;
  line-height: 24px;
}

@media @tablet-width{
  .application{
    width: 300px;
  }
}
