.blog-post{
  margin: 0 auto 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  &--best{
    width: auto;
  }
  &--other{
    margin: 0px auto 19px;
    width: 87%;
    background: @base-bg-second;
  }
}

.blog-post__marker-wrap{
  position: relative;
}

.blog-post__marker {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 20px;
    background: #D22856;
    color: #fff;
    padding: 5px 20px 6px;
    text-transform: uppercase;
    font-family: "Open Sans Bold", "Tahoma", sans-serif;
    font-size: 12px;
    line-height: 24px;
}

.blog-post__info{
  background: @base-bg-second;
  padding: 18px 18px 20px;
  display: flex;
  flex-direction: column;
  &--best{
    margin: 0 20px;
    padding: 16px 10px 20px 16px;
  }
}

.blog-post__name{
  font-family: "Open Sans Bold", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.blog-post__time{
  font-family: "Open Sans Light", "Tahoma", sans-serif;
  color: #6B757F;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  margin-left: 3px;
}

.blog-post__like{
  position: relative;
}

.blog-post img{
  width: 100%;
  display: block;
}

.blog-post__text{
  color: #283645;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 9px;
}

@media @tablet-width{
  .blog-post{
    width: 48%;
    margin: 10px 0;
    img{
      height: 300px;
    }
    &--best{
    width: auto;
    margin-bottom: 38px;
      img{
        height: 509px;
      }
    }
    &--other{
      height: 455px;
    }
  }

  .blog-post__info{
    padding: 23px 27px 22px 27px;
    justify-content: space-between;
    height: 100%;
    &--best{
      margin: 0 40px;
      padding: 23px 25px 17px 27px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      }
    }

    .blog-post__text{
      &--best{
        order: 1;
      }
    }

    .blog-post__marker-wrap{
      width: 88.5%;
      margin: 0 auto;
    }

    .blog-post__marker{
      top: 59px;
      right: 0px;
    }
}

@media @desktop-width {
  .blog-post{
    width: 300px;
    margin: 0 0 51px;
    &--other{
      height: 555px;
      margin-bottom: 53px;
      img{
        height: 400px;
      }
    }
    &--best{
      width: 100%;
      img {
        height: 506px;
      }
    }
  }

  .blog-post__info--best{
    margin: 0 auto;
    width: 940px;
    box-sizing: border-box;
    padding: 21px 28px 14px 27px;
  }

  .blog-post__marker-wrap{
    width: 100%;
    margin: 0 auto;
    max-width: 940px;
  }

  .blog-post__marker {
    top: 54px;
    right: 0;
  }

}
