.blog-post{
  width: 300px;
  margin: 0 auto 20px;
  &--best{
    width: 320px;
  }
}

.blog-post__info{
  background: @base-bg-second;
  padding: 5px;
}

.blog-post__name{
  font-weight: bold;
}

.blog-post__time{
  color: #6B757F;
}

.blog-post__like{
  color: @pink-color;
}

.blog-post img{
  width: 100%;
  display: block;
}

.blog-post p{
  color: #283645;
}
