.contacts-unit{
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.contacts-unit__input{
  width: 91%;
  margin-bottom: 0px;
  border: 2px solid #e5e5e5;
}

.contacts-unit__label{
  margin: 1px 0 7px 19px;
}

@media @tablet-width{
  .contacts-unit{
  flex-direction: column-reverse;
  margin-bottom: 23px;
  &--phone{
    position: relative;
    &::after{
      position: absolute;
      content: "";
      width: 60px;
      height: 60px;
      right: -1px;
      top: 0;
      background: #E5E5E5 url("../img/icon-phone.svg") 22px 22px no-repeat;
      }
    }
  &--mail{
    position: relative;
    &::after{
      position: absolute;
      content: "";
      width: 60px;
      height: 60px;
      right: -1px;
      top: 0;
      background: #E5E5E5 url("../img/icon-mail.svg") 22px 25px no-repeat;
      }
    }
  }

  .contacts-unit__input{
    width: 96%;
    margin-bottom: 10px;
    position: relative;
  }

  .contacts-unit__label{
  margin: 0px 0 7px 20px;
  }
}

@media @desktop-width{
  .contacts-unit{
    width: 375px;
    margin: 15px 13px 0 57px;
    &--phone::after{
      width: 62px;
      background-position: 20px 22px;
    }
    &--mail::after{
      width: 62px;
      background-position: 20px 23px;
    }
  }

  .contacts-unit__input {
    width: 94%;
  }

}
