.dialog{
  background: @base-bg;
  text-align: center;
}

.dialog__speech{
  color: @dark-text-color;
  font-size: 24px;
  line-height: 24px;
  font-weight: lighter;
  margin: 14px 0;
  width: 100%;
  display: inline-block;
}

@media @tablet-width{
  .dialog__speech:last-child{
    width: 320px;
  }
}
