.form__text-label{
  color: @pink-color;
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  margin: 0px 0 5px 22px;
  &--hidden-mobile{
    display: none;
  }
}

.form__header-label{
  color: @pink-color;
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  width: 230px;
  margin: 0 auto;
  &--hidden{
    display: none;
  }
}

.form__text-input {
  height: 56px;
  width: 91%;
  padding-left: 21px;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 18px;
  border: 2px solid #e5e5e5;
}

.form__data{
  background: @base-bg;
  padding: 4.5px 20px 0;
  border-color: transparent;
  &--even{
    background: @base-bg-second;
    padding: 37px 20px;
  }
  &--message{
    padding: 13px 20px 0;
    margin: 0 0 24px;
  }
  &--name{
    margin: 0 0 24px;
  }
  &--choose{
    margin: 0 0 27px;
  }
  &--contacts{
    margin: 0 0 26px;
  }
  &--application{
    margin: 0 0 26px
  }
}

.form__check-label{
  display: block;
  font-size: 18px;
  line-height: 30px;
  padding: 10px 0 10px 70px;
  margin-top: 32px;
  position: relative;
  &::before{
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    border: 2px solid #E5E5E5;
    left: 0px;
    top: 8px;
    background: #fff;
  }
}

.form__check-input:checked + .form__check-label::after{
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 7px;
  top: 12px;
  background: transparent url("../img/icon-yes-check.svg") no-repeat;
}

.form__radio-text{
  display: block;
  font-size: 18px;
  line-height: 30px;
  padding: 12px 0 7px 68px;
  margin-top: 27px;
  position: relative;
  &::before{
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #E5E5E5;
    left: -1px;
    top: 9px;
    background: #fff;
  }
}

.form__radio-input:checked + .form__radio-text::after{
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 11px;
  top: 22px;
  border-radius: 50%;
  background: @pink-color;
}


.form__textarea{
  margin: 17px 0;
  width: 85%;
  min-height: 167px;
  padding: 15px 20px;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid #e5e5e5;
}

.form__bottom {
    display: flex;
    flex-direction: column;
}

.form__button{
  display: block;
  margin: 7px auto;
  background: #2AAB6D;
  color: #fff;
}

.form__remark {
    text-align: center;
    margin: 27px 0 16px;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 30px;
}

@media @tablet-width {
  .form{
    display: flex;
    flex-direction: column;
    padding-top: 58px;
    padding-bottom: 50px;
  }

  .form__data{
    border: 2px solid #e5e5e5;
    padding: 0 20px;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    &--choose{
      order: 3;
      background: @base-bg;
      margin-bottom: 65px;
      padding: 14px 43px 43px;
    }
    &--contacts{
      order: 2;
      margin: 24px 21px 62px 21px;
      padding: 45px 62px 0px 56px;
      display: flex;
      flex-direction: column-reverse;
      flex-wrap: wrap;
      flex-direction: column;
    }
    &--application{
      order: 1;
      background: @base-bg;
      margin-bottom: 41px;
      padding: 14px 43px 50px;
    }
    &--message{
      order: 4;
      padding: 27px 20px;
      margin: 0 22px 66px;
    }
    &--name{
      order: 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-content: space-between;
      flex-wrap: wrap;
      align-items: baseline;
      height: 310px;
      border-color: transparent;
      margin: 0 0 45px 0;
      padding: 0 18px;
    }
  }

  .form__check-label::before{
    left: 15px;
  }

  .form__check-input:checked + .form__check-label::after{
    left: 23px;
  }

  .form__radio-text::before{
    left: 16px;
  }

  .form__radio-input:checked + .form__radio-text::after{
    left: 29px;
    top: 22px;
  }

  .form__header-label{
    display: block;
    width: 370px;
    background: #fff;
    position: absolute;
    top: -12px;
    left: 50%;
    margin-left: -185px;
    &--contacts{
      width: 266px;
      margin-left: -133px;
    }
    &--choose{
      width: 430px;
      margin-left: -215px;
    }
    &--message{
      width: 266px;
      margin-left: -132px;
    }
  }

  .form__bottom{
    order: 5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20px;
    align-items: center;
  }

  .form__button{
    margin: 0
  }

  .form__remark{
    margin: 0;
  }

  .form__text-label{
    margin: 0px 18px 0px 0px;
    &--hidden-mobile{
      display: block;
    }
    &--hidden-desktop{
      display: none;
    }
  }

  .form__text-input{
    width: 75%;
    flex-grow: 1;
    padding-left: 20px;
  }

  .form__radio-text{
    padding: 13px 0 7px 75px;
  }

  .form__check-label{
    padding: 10px 0 10px 75px;
  }

  .form__textarea {
    width: 80%;
    min-height: 160px;
    padding: 15px 20px;
    font-size: 18px;
    line-height: 30px;
    margin: 17px 35px 25px;
  }

}

@media @desktop-width{
  .form{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 65px;
  }

  .form__data{
    padding: 20px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    &--name{
      width: 430px;
      padding: 5px 0px;
      margin-bottom: 0;
    }
    &--application{
      width: 392px;
      height: 257px;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: stretch;
    }
    &--contacts{
      flex-direction: row;
      justify-content: flex-start;
      margin: 42px 0 65px 0;
      padding: 27px 0 7px;
    }
    &--choose{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0 0 65px;
      padding: 14px 0 50px 11px;
    }
    &--message{
      margin-bottom: 63px;
    }
  }

  .form__header-label{
    top: -10px;
  }

  .form__textarea {
    width: 776px;
    min-height: 94px;
    padding: 15px 20px;
    font-size: 18px;
    line-height: 30px;
    margin: 22px 35px 25px;
  }

  .form__text-input{
    width: 71%;
  }

  .form__radio-text {
    padding: 11px 0 7px 114px;
    &::before{
      left: 53px;
      top: 7px;
    }
  }

  .form__radio-input:checked + .form__radio-text::after {
    left: 66px;
    top: 20px;
  }

  .form__text-label {
    margin: 0px 15px 0px 0px;
  }

  .form__check-label{
    width: 280px;
    box-sizing: border-box;
    margin-left: 31px;
    &--selfi{
      order: 1;
    }
    &--saw-chack{
      order: 2;
    }
    &--pisa{
      order: 3;
      width:230px;
    }
    &--beach{
      order: 4;
    }
    &--souvenir{
      order: 5;
    }
    &--destroy-hotel{
      order: 6;
      width: 230px
    }
  }

  .form__bottom{
    width: 100%;
    margin: 0;
  }

}
