.form{
  border: 1px solid red;
  margin: 20px;
  &__text-label{
    color: @pink-color;
    display: block;
  }
  &__data{
    background: @base-bg;
    &--even{
      background: @base-bg-second;
    }
  }
  &__check-label{
    display: block;
  }
  &__radio-text{
    display: block;
  }
  &__button{
    display: block;
    margin: 10px auto;
    background: #2AAB6D;
    color: #fff;
  }
}
