.form__text-label{
  color: @pink-color;
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  margin: 0px 0 5px 22px;
  &--hidden{
    display: none;
  }
}

.form__header-label{
  color: @pink-color;
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  width: 230px;
  margin: 0 auto;
  &--hidden{
    display: none;
  }
}

.form__text-input {
  height: 57px;
  width: 91%;
  padding-left: 22px;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 19px;
}

.form__data{
  background: @base-bg;
  margin: 0px 0px 24px;
  padding: 5.5px 20px 0;
  border-color: transparent;
  &--even{
    background: @base-bg-second;
    padding: 37px 20px;
  }
  &--message{
    padding: 13px 20px 0;
  }
}

.form__check-label{
  display: block;
  font-size: 18px;
  line-height: 30px;
  padding: 10px 0 10px 70px;
  margin-top: 32px;
}

.form__radio-text{
  display: block;
  font-size: 18px;
  line-height: 30px;
  padding: 12px 0 7px 70px;
  margin-top: 27px;
}

.form__textarea{
  margin: 17px 0;
  width: 85%;
  min-height: 169px;
  padding: 15px 20px;
  font-size: 18px;
  line-height: 30px;
}

.form__button{
  display: block;
  margin: 10px auto;
  background: #2AAB6D;
  color: #fff;
}

.form__remark {
    text-align: center;
    margin: 29px 0 16px;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 30px;
}

@media @tablet-width {
  .form{
    .container-tablet;
    display: flex;
    flex-direction: column;
    padding: 55px 20px;
  }

  .form__data{
    border-color: #e5e5e5;
    padding: 0 20px;
    position: relative;
    &--name{
      order: 0;
    }
    &--choose{
      order: 3;
    }
    &--contacts{
      order: 2;
      margin: 24px 16px 67px 24px;
    }
    &--application{
      order: 1;
      background: @base-bg;
    }
    &--message{
      order: 4;
    }
    &--name{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-content: space-between;
      flex-wrap: wrap;
      align-items: baseline;
      height: 310px;
      border-color: transparent;
    }
    &--even{
      padding: 13px 20px 50px;
      margin: 24px 16px 44px 24px;
    }
  }

  .form__header-label{
    display: block;
    width: 380px;
    background: #fff;
    position: absolute;
    top: -12px;
    left: 50%;
    margin-left: -190px;
  }

  .form__button{
    order: 5;
  }

  .form__remark{
    order: 6;
  }

  .form__text-label{
    margin: 0px 17px 0px 0px;
    top: -13px;
    left: 50%;
    &--hidden{
      display: block;
    }
  }
  .form__text-input{
    width: 75%;
    flex-grow: 1;
  }

  .form__radio-text{
    padding: 13px 0 7px 98px;
  }
}

@media @desktop-width{
  .form{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .form__data{
    padding: 20px;
    width: 100%;
    &--name{
      width: 400px;
    }
    &--application{
      width: 400px;
    }
  }
}
