.functions{
  display: inline-block;
  background: #fff;
}

.functions__table-header{
  background: @dark-bg;
}

.functions__title{
  color: #fff;
  width: 280px;
  text-transform: uppercase;
  border: 2px solid #E5E5E5;
  position: relative;
  &--clear{
    background: #F2F2F2;
    display: none;
    box-shadow: 0px -1px 0px 0px #F2F2F2;
  }
  &--standart{
    background: transparent;
    position: relative;
  }
}
.function__hit-line{
  display: inline-block;
  position: absolute;
  left: -2px;
  top: -1px;
  background: url("../img/bg-hit.svg") no-repeat;
  height: 74px;
  width: 73px;
}

.function-hit-name{
  transform: rotate(-45deg);
  display: inline-block;
  margin: 11px 24px 0 0;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}

.functions__list{
  border: 2px solid #E5E5E5;
  height: 58px;
  width: 280px;
  position: relative;
  &--hidden{
    display: none;
  }
  &--no{
    background: url("../img/icon-no.svg") 232px 15px no-repeat;
  }
  &--yes{
    background: url("../img/icon-yes.svg") 232px 15px no-repeat;
  }
  &--pink::before{
    position: absolute;
    content: "Розовый фильтр";
    left: 22px;
    top: 12px;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
  }
  &--smile::before{
    position: absolute;
    content: "Смайлики";
    left: 22px;
    top: 12px;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
  }
  &--comment::before{
    position: absolute;
    content: "Комментарии";
    left: 22px;
    top: 12px;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
  }
}

.function__tarif{
  font-family: "Open Sans Bold", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 30px;
  padding: 16px 0 0;
  display: inline-block;
}

.functions__price{
    display: block;
    font-family: "Open Sans Light", "Tahoma", sans-serif;
    font-weight: lighter;
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 22px;
}


#rates-input-1:checked ~ .slider-toggles label[for="rates-input-1"], #rates-input-2:checked ~ .slider-toggles label[for="rates-input-2"], #rates-input-3:checked ~ .slider-toggles label[for="rates-input-3"] {
    border: 3px solid #283645;
    background: #fff;
}

@media  @tablet-width{
  .functions__list{
    border: 2px solid #E5E5E5;
    height: 44px;
    width: 20%;
    &--hidden{
      display: table-cell;
      font-size: 14px;
      line-height: 30px;
      padding-left: 15px;
      text-align: left;
    }
    &--no{
      background: url("../img/icon-no.svg") center no-repeat;
    }
    &--yes{
      background: url("../img/icon-yes.svg") center no-repeat;
    }
    &::before{
      display: none;
    }
  }

  .functions__title--clear{
    display: table-cell;
    border: none;
  }

  .function__tarif{
    font-size: 16px;
    padding: 11px 0 0;
  }

  .functions__price{
    padding-bottom: 7px;
    font-size: 18px;
  }

  .function__hit-line{
    background: url("../img/bg-hit-tablet.svg") no-repeat;
  }

  .function-hit-name {
    margin: 3px 30px 0 0;
  }
}

@media @desktop-width{
  .function__tarif{
    font-size: 18px;
    line-height: 30px;
    padding: 16px 0 0;
  }

  .functions__price{
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 20px;
  }

  .function__hit-line{
    background: url("../img/bg-hit.svg") no-repeat;
  }

  .function-hit-name {
    margin: 12px 25px 0 0;
  }

  .functions__list{
    height: 59px;
    &--hidden{
      font-size: 18px;
      padding-left: 21px;
    }
  }

}
