.functions{
  display: inline-block;
  margin: 50px 0 20px;
}

.functions__table-header{
  background: @dark-bg;
}

.functions__title{
  color: #fff;
  &--clear{
    background: #F2F2F2;
  }
}

.functions__list{
  border: 1px solid red;
  padding: 10px 0;
}
