.hours-effect{
  display: none;
  background: @base-bg;
}

@media @tablet-width{
  .hours-effect{
    display: block;
  }

  .hours-effect__wrap{
    display: flex;
    padding: 58px 0 0;
  }

  .hours-effect__title{
    font-family: "Open Sans Bold", "Tahoma", sans-serif;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 10px;
  }

  .hours-effect__info{
    width: 340px;
    padding: 8px 0 22px 37px;
  }

  .hours-effect__ico{
    width: 305px;
    height: 300px;
    background: url("../img/icon-timer.svg") 55% 2px no-repeat;
    background-size: 238px;
    padding-top: 58px;
    padding-left: 7px;
  }

  .hours-effect__img{
    width: 174px;
    height: 173px;
    margin: 0 auto;
    border: 14px solid @pink-color;
    border-radius: 50%;
    text-align: center;
  }

  .hours-effect__time{
    font-size: 96px;
    line-height: 156px;
    display: inline-block;
    color: #D22856;
    font-family: "Open Sans Bold", "Tahoma", sans-serif;
  }

  .hours-effect__text{
    font-size: 14px;
    line-height: 24px;
    max-width: 315px;
    margin: 8px 0 10px;
  }

  .hours-effect__link{
    font-size: 14px;
    color: @pink-color;
  }

}

@media @desktop-width {
  .hours-effect{
    background: @base-bg-second;
    padding: 35px 0 42px;
  }

  .hours-effect__wrap{
    .container-desktop;
  }

  .hours-effect__ico {
    width: 295px;
    min-height: 300px;
    padding: 73px 70px 0 0px;
    background: url("../img/icon-timer.svg") 0px 4px no-repeat;
    background-size: 297px;
  }

  .hours-effect__info {
    width: 560px;
    padding: 8px 0 22px 0;
    margin-top: 60px;
  }

  .hours-effect__title{
    line-height: 30px;
    margin-bottom: 23px;
    br{
      display: none;
    }
  }

  .hours-effect__text{
    font-size: 18px;
    line-height: 30px;
    max-width: 100%;
    margin-bottom: 34px;
  }

  .hours-effect__link {
    font-size: 18px;
  }

  .hours-effect__time{
    font-size: 120px;
    line-height: 187px;
    padding: 9px;
  }

  .hours-effect__img {
    width: 219px;
    height: 219px;
    margin: 0 auto;
    border: 17px solid #CE265A;
    border-radius: 50%;
    text-align: center;
  }

}
