.main-contacts{
  background: @base-bg;
  text-align: center;
  padding-top: 42px;
}

.main-contacts__title{
  color: @dark-text-color;
  font-size: 24px;
  line-height: 30px;
  width: 320px;
  display: block;
  margin: 0 auto 33px;
  font-family: "Open Sans Light" , "Tahoma";
  font-weight: lighter;
}

.main-contacts__data{
  display: inline-block;
  width: 255px;
  margin: 0 auto 22px;
}

.main-contacts__appeal{
  display: block;
  font-size: 18px;
  line-height: 22px;
}

.main-contacts__link{
  color: @pink-color;
  font-size: 24px;
  font-weight: lighter;
  font-family: "Open Sans Light" , "Tahoma";
  text-decoration: none;
}

@media @tablet-width {
  .main-contacts__title {
    font-size: 40px;
    width: 380px;
    line-height: 49px;
    margin-bottom: 44px;
  }

  .main-contacts__data{
    width: 315px;
    margin: 0 auto 44px;
    &:last-child{
      width: 293px;
      margin-bottom: 18px;
    }
  }
  .main-contacts__link{
    line-height: 36px;
    }

    .main-contacts__map {
    height: 378px;
    overflow: hidden;
  }
}

@media @desktop-width{
  .main-contacts{
    padding-top: 70px;
  }

  .main-contacts__info{
    .container-desktop;
  }

  .main-contacts__data-wrap {
    display: flex;
    flex-direction: row;
  }

  .main-contacts__data{
    order: 1;
    &--phone{
      order: 0;
    }
    &--mail{
      order: 2;
    }
  }

  .main-contacts__title {
    font-size: 50px;
    width: 460px;
    line-height: 60px;
    margin-bottom: 44px;
  }

  .main-contacts__appeal{
    margin-bottom: 22px;
  }
}
