.main-nav{
  color: @header-color;
  text-align: right;
}

.main-nav__header{
  position: relative;
  background-color: @dark-bg;
  border-bottom: 1px solid #000001;
}

.main-nav__toogle{
  position: absolute;
  top: -49px;
  right: -7px;
  background: url("../img/icon-menu-burger.svg") no-repeat;
  border: none;
  height: 24px;
  width: 50px;
  &--no-js{
    background: url("../img/icon-menu-cross.svg") no-repeat;
  }
  &--hide{
    background: url("../img/icon-menu-burger.svg") no-repeat;
  }
}

.main-nav__wrapper{
  display: block;
/*  background: #263645;*/
}

.main-nav__list{
  padding: 0;
  list-style: none;
  margin: 0;
}

.main-nav__link a{
  display: block;
  padding: 16px 0;
  color: @header-color;
  text-transform: uppercase;;
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid #000001;
  border-top: 1px solid #4C5764;
  font-size: 18px;
  line-height: 30px;
  font-family: "Open Sans Bold";
  background: #283645;
  }

@media @tablet-width{
  .main-nav__header {
  /*  background: #283645 url("../img/logo-pink-white-mobile.svg") 113px 44px no-repeat;*/
  }

  .main-nav__toogle{
    top: -65px;
    right: 13px;
  }
}

@media @desktop-width{
  .main-nav__header{
    display: none;
  }

  .main-nav__wrapper{
    display: block;
  }

  .main-nav__link{
    display: inline-block;
  }

  .main-nav__link a{
    font-size: 18px;
    text-transform: none;
    border: none;
    box-shadow: none;
    margin-left: 76px;
    line-height: 18px;
    background: transparent;
  }

  .main-nav__list{
    padding: 27px 10px;
    background: url("../img/logo-top.svg") 21px 22px no-repeat;
  }

  .main-nav__toogle{
    margin: 43px 23px;
  }

  .main-nav {
    max-width: 960px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    right: 0;
  }
}
