.main-contacts{
  background: @base-bg;
  text-align: center;
}

.main-contacts__title{
  color: @dark-text-color;
  font-size: 24px;
  line-height: 24px;
  font-weight: lighter;
  width: 320px;
  display: block;
  margin: 0 auto;
}

.main-contacts__data{
  display: inline-block;
  border: 1px solid #777;
  width: 240px;
}

.main-contacts__appeal{
  display: block;
}

.main-contacts__link{
  color: @pink-color;
  font-size: 24px;
  font-weight: lighter;
}
