.main-contacts{
  background: @base-bg;
  text-align: center;
  padding-top: 42px;
}

.main-contacts__title{
  color: @dark-text-color;
  font-size: 24px;
  line-height: 30px;
  width: 320px;
  display: block;
  margin: 0 auto 33px;
  font-family: "Open Sans Light" , "Tahoma";
  font-weight: lighter;
}

.main-contacts__data{
  display: inline-block;
  width: 255px;
  margin: 0 auto 19px;
}

.main-contacts__appeal{
  display: block;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 3px;
}

.main-contacts__link{
  color: @pink-color;
  font-size: 24px;
  font-weight: lighter;
  font-family: "Open Sans Light" , "Tahoma";
  text-decoration: none;
}

.main-contacts__map{
  position: relative;
  height: 200px;
  overflow: hidden;
  padding-top: 15px;
}

.main-contacts__tringle{
  height: 30px;
  position: absolute;
  fill: #fff;
}

@media @tablet-width {
  .main-contacts{
    padding-top: 45px;
  }

  .main-contacts__title {
    font-size: 40px;
    width: 380px;
    line-height: 49px;
    margin-bottom: 44px;
  }

  .main-contacts__data{
    width: 315px;
    margin: 0 auto 44px;
    &:last-child{
      width: 293px;
      margin-bottom: 18px;
    }
  }
  .main-contacts__link{
    line-height: 33px;
    }

    .main-contacts__map {
    height: 378px;
    overflow: hidden;
    padding-top: 3px;
  }

  .main-contacts__tringle{
    height: 73px;
  }
}

@media @desktop-width{
  .main-contacts{
    padding-top: 64px;
  }

  .main-contacts__info{
    .container-desktop;
  }

  .main-contacts__data-wrap {
    display: flex;
    flex-direction: row;
  }

  .main-contacts__data{
    order: 1;
    width: 255px;
    height: 110px;
    margin-bottom: 0;
    &--phone{
      order: 0;
    }
    &--mail{
      order: 2;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }

  .main-contacts__title {
    font-size: 50px;
    width: 460px;
    line-height: 60px;
    margin-bottom: 57px;
  }

  .main-contacts__appeal{
    margin-bottom: 22px;
  }

  .main-contacts__tringle {
    height: 115px;
  }

  .main-contacts__map {
    height: 514px;
  }
}
