.page-footer{
  background: @base-bg;
  &__logo{
    color: #000;
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 28px;
  }
  &__copyright{
    border: 1px solid #000;
    margin: 20px;
  }
}
