.page-footer{
  background: @base-bg;
  padding-top: 40px;
  padding-bottom: 40px;
  &--index{
    display: none;
  }
}

.page-footer__logo{
  display: block;
  width: 146px;
  height: 40px;
  margin: 0 auto;
}


@media @tablet-width{
  .page-footer{
    .container-tablet;
    display: flex;
  }

  .page-footer__logo{
    text-align: left;
    background-position: 21px 36px;
    width: 30%;
    display: inline-block;
    height: 105px;
    padding: 36px 0px 0 17px;
  }

  .page-footer__social{
    display: inline-block;
    vertical-align: top;
    width: 33%;
  }

  .page-footer__copyright{
    display: inline-block;
    vertical-align: top;
    width: 33%;
    margin: 0;
  }
}

@media @desktop-width{
  .page-footer{
    max-width: 940px;
    padding: 0px 10px 10px;
    margin: 0 auto;
    &--index{
      padding: 50px 10px 10px;
    }
  }

  .page-footer__logo{
    width: 34%;
    padding: 20px 0px 0 0px;
  }
}
