.page-header{
  /*background: url(../img/bg-back-mobile@1x.jpg) center top no-repeat;*/
  background-color: #1D2631;
}

.page-header__wrap--index{
  /*background: url(../img/iphone-hand-mobile@1x.png) no-repeat center 176px;*/
}

.page-header__view{
  background: url(../img/bg-back-mobile@1x.jpg) center -67px no-repeat;
  display: inline-block;
  height: 395px;
  min-width: 320px;
  width: 100%;
}

.page-header__logo{
  color: @header-color;
}

.page-header__logo-title{
/*  background: url("../img/logo-pink-white-mobile.svg") 21px 22px no-repeat;*/
  color: @header-color;
  height: 44px;
  width: 74px;
  padding: 10px 20px;
  position: absolute;
}

.page-header__title-block{
  background-size: cover;
  text-align: center;
}

.page-header__title{
  font-family: "Open Sans",  "Tahoma", sans-serif;
  color: @header-color;
  font-size: 22px;
  padding: 30px 0;
  &--index{
    display: none;
  }
}


@media @tablet-width{
  .page-header{
    background-size: cover;
  }

  .page-header__promo{
    .container-tablet;
    padding: 35px 20px 80px;
    background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
  }

  .page-header__view{
    display: none;
  }

  .page-header__title-block--index{
    width: 335px;
  }

  .page-header__title--index{
    display: inline-block;
    font-family: "Open Sans Light";
    font-weight: 300;
    font-size: 40px;
    width: 228px;
    line-height: 48px;
    margin-bottom: 0;
    padding-bottom: 7px;
  }

  .page-header__wrap--index{
  }
}

@media @desktop-width{
  .page-header__promo{
    .container-desktop;
  }

  .page-header__wrap{
    background: #263645;
  }
  .page-header__promo{
    padding: 35px 20px 80px;
  }
}
