.page-header{
  background-color: #1D2631;
}

/*.page-header__view{
  background: url(../img/bg-back-mobile@1x.jpg) center -67px no-repeat;
  display: inline-block;
  height: 395px;
  min-width: 320px;
  width: 100%;
}*/

.page-header__promo{
    background: url(../img/bg-back-mobile@1x.jpg) center -67px no-repeat;
    padding-top: 400px;
}

@media
  (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
   .page-header__promo {
    background: url(../img/bg-back-mobile@2x.jpg) center -67px no-repeat;
  }
}

.page-header__logo{
  color: @header-color;
}

.page-header__logo-title{
  color: @header-color;
  height: 44px;
  width: 74px;
  padding: 10px 20px;
  position: absolute;
}

.page-header__title-block{
  text-align: center;
  background: url(../img/bg-back-mobile@1x.jpg) center -67px no-repeat;
}

@media
  (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
   .page-header__title-block {
    background: url(../img/bg-back-mobile@2x.jpg) center -67px no-repeat;
  }
}

.page-header__title{
  font-family: "Open Sans Light",  "Tahoma", sans-serif;
  color: @header-color;
  font-size: 22px;
  padding: 29px 20px 82px;
  margin: 0;
  &--index{
    display: none;
    margin-top: 26.8px;
  }
  &--form{
    padding: 29px 20px 52px;
  }
}

.page-header__img{
  display: inline-block;
  margin: 110px 0 0 0;
}

@media @tablet-width{
  .page-header{
    background-size: cover;
  }

  .page-header__promo{
    .container-tablet;
    padding: 35px 20px 80px;
    background: url(../img/bg-back-tablet@1x.jpg) center -111px no-repeat;
  }

  @media
    (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
     .page-header__promo {
      background: url(../img/bg-back-tablet@2x.jpg) center -111px no-repeat;
    }
  }

  .page-header__title-block{
    text-align: center;
    background: url(../img/bg-back-tablet@1x.jpg) center -111px no-repeat;
  }

  @media
    (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
     .page-header__title-block {
      background: url(../img/bg-back-tablet@2x.jpg) center -111px no-repeat;
    }
  }

  .page-header__view{
    display: none;
  }
  .page-header__title-block{

    &--index{
    width: 335px;
    }
  }

  .page-header__title {
    font-size: 50px;
    font-weight: 300;
    padding: 29px 40px 140px;
    line-height: 60px;
    &--index{
    display: inline-block;
    font-family: "Open Sans Light";
    font-weight: 300;
    font-size: 40px;
    width: 228px;
    line-height: 48px;
    margin-bottom: 0;
    padding-bottom: 7px;
    }
    &--photo{
      padding: 69px 40px 140px;
    }
  }
}
@media @desktop-width{
  .page-header__promo{
    padding: 0;
    background: url(../img/bg-back-desktop@1x.jpg) center -111px no-repeat;
  }

  @media
    (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
     .page-header__promo {
      background: url(../img/bg-back-desktop@2x.jpg) center -111px no-repeat;
    }
  }

  .page-header__title-block{
    text-align: center;
    background: url(../img/bg-back-desktop@1x.jpg) center -111px no-repeat;
  }

  @media
    (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
     .page-header__title-block {
      background: url(../img/bg-back-desktop@2x.jpg) center -111px no-repeat;
    }
  }

  .page-header__promo-wrap{
    max-width: 940px;
    margin: 0 auto;
    padding: 33px 10px 104px;
  }

  .page-header__title{
      padding: 75px 0;
      width: 350px;
      margin: 0 auto;
      &--index{
        font-size: 50px;
        line-height: 60px;
        width: 280px;
        padding: 75px 0 6px;
      }
      &--form{
        width: 750px;
      }
      &--photo{
        padding:65px 0;
      }
    }

  .page-header__wrap{
    background: #263645;
  }

  .page-header__title-block{
    height: 285px;
    &--index{
      width: 300px;
      height: 262px;
    }
  }
}
