.page-header{
  background-color: #1D2631;
}

/* Главаня страница, картинка с рукой и фон--- НАЧАЛО*/
.page-header__promo{
    background: url(../img/bg-back-mobile@1x.jpg) center -67px no-repeat;
    background-size: 700px auto;
}

@media
  (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    .page-header__promo {
      background: url(../img/bg-back-mobile@2x.jpg) center -67px no-repeat;
      background-size: 700px auto;
  }
}

.page-header__promo-wrap{
  padding-top: 400px;
  background: url(../img/iphone-hand-mobile@1x.png)  left 110px no-repeat;
}

@media
  (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    .page-header__promo-wrap{
      background: url(../img/iphone-hand-mobile@2x.png) left 110px no-repeat;
      background-size: 258px auto;
  }
}

/* Главаня страница, картинка с рукой и фон--- КОНЕЦ*/

.page-header__logo{
  color: @header-color;
}

.page-header__logo-title{
  color: @header-color;
  height: 44px;
  width: 74px;
  padding: 10px 20px;
  position: absolute;
}

/*Вторичные страницы, фон в шапке НАЧАЛО*/
.page-header__title-block{
  text-align: center;
  background: url(../img/bg-back-mobile@1x.jpg) center -67px no-repeat;
}

@media
  (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    .page-header__title-block {
      background: url(../img/bg-back-mobile@2x.jpg) center -67px no-repeat;
      background-size: 700px auto;
  }
}
/*вторичные страницы КОНЕЦ*/

.page-header__title{
  font-family: "Open Sans Light",  "Tahoma", sans-serif;
  color: @header-color;
  font-size: 22px;
  padding: 29px 20px 82px;
  margin: 0;
  &--index{
    display: none;
    margin-top: 26.8px;
  }
  &--form{
    padding: 29px 20px 52px;
  }
}

.page-header__img{
  display: inline-block;
  margin: 110px 0 0 0;
}

@media @tablet-width{
  .page-header{
    background-size: cover;
  }

/* Главаня страница, картинка с рукой и фон--- НАЧАЛО*/

  .page-header__promo{
    .container-tablet;
    padding: 35px 20px 0px;
    background: url(../img/bg-back-tablet@1x.jpg) center -111px no-repeat;
  }

  @media
    (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
      .page-header__promo {
        background: url(../img/bg-back-tablet@2x.jpg) center -111px no-repeat;
        background-size: 1200px auto;
    }
  }

  .page-header__promo-wrap{
    padding: 0 0 81px;
    background: url(../img/iphone-hand-tablet@1x.png)  -20px bottom no-repeat;
  }

  @media
    (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
      .page-header__promo-wrap{
        background: url(../img/iphone-hand-tablet@2x.png) -20px bottom no-repeat;
        background-size: 700px auto;
    }
  }
/* Главаня страница, картинка с рукой и фон--- Конец*/

  .page-header__title-block{
    text-align: center;
    background: url(../img/bg-back-tablet@1x.jpg) center -111px no-repeat;
    &--index{
      width: 335px;
      background: none;
    }
  }

  @media
    (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
      .page-header__title-block {
        background: url(../img/bg-back-tablet@2x.jpg) center -111px no-repeat;
        background-size: 1200px auto;
        &--index{
          background: none;
        }
    }
  }

  .page-header__view{
    display: none;
  }

  .page-header__title {
    font-size: 50px;
    font-weight: 300;
    padding: 29px 40px 140px;
    line-height: 60px;
    &--index{
      display: inline-block;
      font-family: "Open Sans Light", "Tahoma", sans-serif;
      font-weight: 300;
      font-size: 40px;
      width: 228px;
      line-height: 48px;
      margin-bottom: 0;
      padding-bottom: 7px;
    }
    &--photo{
      padding: 69px 40px 140px;
    }
    &--form{
      padding: 69px 40px 80px;
    }
  }
}
@media @desktop-width{
  .page-header{
    background: url(../img/bg-back-desktop@1x.jpg) center 0px no-repeat;
  }

  @media
  (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    .page-header {
      background: url(../img/bg-back-desktop@2x.jpg) center 0px no-repeat;
      background-size: 2560px auto;
    }
  }

  .page-header__promo{
    padding: 0;
    background: none;
  }

  .page-header__promo-wrap{
    background: url(../img/iphone-hand-desktop@1x.png)  25px bottom  no-repeat;
    max-width: 940px;
    margin: 0 auto;
    padding: 33px 10px 104px;
  }

  @media
    (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
      .page-header__promo-wrap{
        background: url(../img/iphone-hand-desktop@2x.png) 25px bottom  no-repeat;
        background-size: 1050px auto;
    }
  }

  .page-header__title-block{
    text-align: center;
    background: url(../img/bg-back-desktop@1x.jpg) center 0px no-repeat;
    background: none;
    height: 285px;
    padding-top: 0px;
    &--index{
      background: none;
      width: 300px;
      height: 262px;
      padding-top: 0px;
    }
  }

  @media
    (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
      .page-header__title-block {
        background: url(../img/bg-back-desktop@2x.jpg) center 0px no-repeat;
        background-size: 2560px auto;
        &--index{
          background: none;
        }
    }
  }

  .page-header__title{
      padding: 75px 0;
      width: 350px;
      margin: 0 auto;
      &--index{
        font-size: 50px;
        line-height: 60px;
        width: 280px;
        padding: 75px 0 6px;
      }
      &--form{
        width: 750px;
        padding: 64px 0;
      }
      &--photo{
        padding:65px 0;
      }
    }

  .page-header__wrap{
    margin: 0 auto;
    width: 100%;
    background: rgba(16, 29, 41, 0.5);
  }

  .page-header__box{
    .container-desktop;
    position: relative;
  }
}
