.preview{
  background: @base-bg;
}

.preview__text{
  font-size: 14px;
  line-height: 30px;
  color: @dark-text-color;
  text-align: center;
  width: auto;;
  margin: 44px auto 50px;
  padding: 0 11%;
  &--end{
    margin: 21px 0 44px;
    padding: 0 6%;
  }
}

.preview__similar{
  display: flex;
  flex-direction: column;
}

@media @tablet-width {
  .preview__wrap{
    padding: 92px 0px 40px;
  }

  .preview__text{
    width: 450px;
    font-size: 18px;
    line-height: 30px;
    margin: 0 auto 75px;
    &--end{
      margin: 56px auto 29px;
    }
  }

  .preview__similar{
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 40px;
    justify-content: space-between;
    flex-direction: row;
  }
}

@media @desktop-width{
  .preview__wrap{
      padding: 92px 0px 54px;
  }

  .preview__text{
    width: 570px;
    margin-bottom: 88px;
    &--end{
      margin: 7px auto 12px;
    }
  }

  .preview__similar{
    max-width: 940px;
    padding: 0 10px;
  }
}
