.promo{
  background: @base-bg-second;
  color: @dark-text-color;
  text-align: center;
  &__block{
    margin: 20px auto;
    width: 320px;
    display: inline-block;
  }
  &__title{
    color: #000;
  }
}
