.promo{
  background: @base-bg-second url("../img/bg-triangle-white.svg") top no-repeat;
  background-size: 100% 4%;
  color: @dark-text-color;
  text-align: center;
  overflow: hidden;
}

.promo__line{
  background: #F2F2F2;
  height: 32px;
}

.promo__wrap{
  padding: 65px 0 0 0;
}

.promo__block{
  margin: 0px auto 13px;
  width: 300px;
  display: inline-block;
}

.promo__title{
  color: #000;
  font-family: "Open Sans Bold", "Tahoma";
  font-size: 18px;
  margin: 17px 0 12px 0;
}

.promo__text {
  width: 270px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 24px;
}

.promo__welcome{
  height: 306px;
  display: none;
  &--friends{
    display: block;
  }
  img{
    margin-top: 28px;
  }
}

@media @tablet-width{
  .promo{
    padding: 0;
    background-size: 100% 13%;
  }

  .promo__wrap{
    .container-tablet;
    display: flex;
    flex-direction: row-reverse;
    height: 486px;
  }

  .promo__blocks{
    width: 100%;
    padding: 60px 0 0 12px;
  }

  .promo__block{
    text-align: left;
    margin: 0px auto 17px;
    width: 312px;
  }

  .promo__text{
    width: auto;
  }

  .promo__welcome{
    width: 300px;
    height: auto;
    img{
    margin: 0px;
    padding: 5px 0 0 8px;
    }
  }

  .promo__line{
    height: 55px;
  }
}

@media @desktop-width{
  .promo{
    padding: 0 0 10px;
    background-size: 100% 17.5%;
  }

  .promo__blocks{
    float: none;
    width: auto;
    display: flex;
    padding: 0 0 60px;
  }

  .promo__welcome{
    display: inherit;
    width: 292px;
    margin-right: 30px;
    img{
      margin: 0;
      padding: 0 3px;
    }
  }

  .promo__wrap{
    display: flex;
    flex-direction: column-reverse;
    .container-desktop;
    height: 580px;
  }

  .promo__image{
    display: flex;
  }

  .promo__blocks{
    padding: 0;
  }

  .promo__block{
    text-align: center;
  }

  .promo__title{
    font-size: 30px;
    line-height: 30px;
    width: 230px;
    margin: 50px auto 25px;
  }

  .promo__text{
    font-size: 18px;
    line-height: 30px;
    width: 238px;
  }

  .promo__line{
    height: 100px;
  }

}
