.reviews{
  background: @base-bg;
}

/*.reviews__wrap{
    border: 1px solid #ccc;
    margin: 45px;
}*/

.reviews__items{
  list-style: none;
  padding: 42px 0 0 0;
  text-align: center;
  margin: 0 auto 33px;
}

.reviews__item{
  display: none;
}

.reviews__client-name{
  font-size: 18px;
  line-height: 30px;
  margin: 0;
}

.reviews__item p{
  font-size: 14px;
  line-height: 29px;
  width: 87%;
  margin: 14px 20px;
}

.reviews__info{
  display: none;
}

#reviews-input-1:checked ~ .slider-toggles label[for="reviews-input-1"],
#reviews-input-2:checked ~ .slider-toggles label[for="reviews-input-2"],
#reviews-input-3:checked ~ .slider-toggles label[for="reviews-input-3"] {
  border: 3px solid #283645;
  background: #fff;
}

#reviews-input-1:checked ~ .reviews__items .reviews__item:nth-child(1){
  display: block;
}

#reviews-input-2:checked ~ .reviews__items .reviews__item:nth-child(2){
  display: block;
}

#reviews-input-3:checked ~ .reviews__items .reviews__item:nth-child(3){
  display: block;
}

@media @tablet-width{
  .reviews__info{
    display: inline-block;
    font-size: 14px;
  }

  .reviews__item{
    /*display: flex;
    flex-direction: column-reverse;*/
  }

  .reviews__wrap{
    margin: 45px auto;
  }

}
