.reviews{
  background: @base-bg;
  padding-bottom: 40px;
}

.reviews__controls{
  display: none;
}

.reviews__items{
  list-style: none;
  padding: 42px 0 0 0;
  text-align: center;
  margin: 0 auto 30px;
}

.reviews__item{
  display: none;
}

.reviews__client-name{
  font-size: 18px;
  line-height: 30px;
  margin: 0;
}

.reviews__item p{
  font-size: 14px;
  line-height: 30px;
  width: 87%;
  margin: 12px 20px 0px;
}

.reviews__info{
  display: none;
}

#reviews-input-1:checked ~ .slider-toggles label[for="reviews-input-1"],
#reviews-input-2:checked ~ .slider-toggles label[for="reviews-input-2"],
#reviews-input-3:checked ~ .slider-toggles label[for="reviews-input-3"] {
  border: 3px solid #283645;
  background: #fff;
}

#reviews-input-1:checked ~ .reviews__items .reviews__item:nth-child(1){
  display: block;
}

#reviews-input-2:checked ~ .reviews__items .reviews__item:nth-child(2){
  display: block;
}

#reviews-input-3:checked ~ .reviews__items .reviews__item:nth-child(3){
  display: block;
}

@media @tablet-width{
  .reviews{
    .container-tablet();
    padding-bottom: 17px;
  }

  .reviews__info{
    display: inline-block;
    font-size: 14px;
  }

  .reviews__inner{
    display: flex;
    flex-direction: column-reverse;
  }

  .reviews__wrap{
    margin: 0 auto;
  }

  .reviews__items{
    padding: 4px 0 0 0;
    margin: 0 auto 35px;
  }

  .reviews__item p {
    font-size: 18px;
    line-height: 30px;
    width: 95%;
    margin: 14px auto;
  }

  .reviews__client-name{
    margin: 20px 0 7px;
    font-size: 20px;
  }
}

@media @desktop-width {
  .reviews {
    padding: 167px 20px 36px;
    background: url("../img/icon-quotes.svg")  center 72px no-repeat;
  }

  .reviews__wrap{
    .container-desktop;
    position: relative;
    overflow: hidden;
    padding: 0 10px 100px;
  }

  .reviews__items{
    position: relative;
  }

  .reviews__item{
    display: none;
    position: absolute;
    width: 100%;
    &--show{
      display: block;
    }
  }

  .reviews__item p {
    font-size: 18px;
    line-height: 30px;
    width: 100%;
  }

  .reviews__client-name{
    font-size: 24px;
    line-height: 30px;
    margin: 21px 0 3px;
  }

  .reviews__info {
    font-size: 18px;
    line-height: 30px;
  }

  .reviews__controls{
    display: block;
  }

  .reviews__controller{
    display: inline-block;
    height: 60px;
    width: 42px;
    position: relative;
    z-index: 10;
    margin: 46px 0px 0;
  }

  .reviews__controller--left{
    float: left;
    background: url("../img/icon-review-arrow-left.svg") no-repeat;
  }

  .reviews__controller--right{
    float: right;
    background: url("../img/icon-review-arrow-right.svg") 17px 0px no-repeat;
  }

  .reviews__inner {
    width: 680px;
    margin: 0 auto;
  }
}
