.reviews{
  background: @base-bg;
}

.reviews__wrap{
    border: 1px solid #ccc;
    margin: 45px;
}

.reviews__items{
  list-style: none;
  padding: 0;
  text-align: center;
}

.reviews__client-name{
  font-size: 18px;
  line-height: 30px;
}

.reviews__item p{
  font-size: 14px;
  line-height: 30px;
}
