.social-links{
  margin: 40px 0;
  text-align: center;
  padding: 40px 0px 14px 4px;
}

.social-link{
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: top;
  border-radius: 100%;
  border: 2px solid #EAEAEA;
  margin: 0px 6px;
  &--tw{
    background: url("../img/icon-twitter.svg") no-repeat;
    background-position: 17px 18px;
  }
  &--fb{
    background: url("../img/icon-facebook.svg") no-repeat;
    background-position: 20px 14px;
  }
  &--yout{
    background: url("../img/icon-youtube.svg") no-repeat;
    background-position: 17px 18px;
  }
}

@media @tablet-width{
  .social-links{
    margin: 0;
  }
}
