.social-links{
  border: 1px solid red;
  margin: 40px 0;
  text-align: center;
  padding: 20px;
}

.social-link{
  padding: 20px;
  background: red;
  display: inline-block;
  vertical-align: top;
}

@media @tablet-width{
  .social-links{
    margin: 0;
  }
}
