.upload{
  background: @base-bg-second;
  padding: 20px 18px 32px;
}

.upload__form{
  background: @base-bg-second;
  display: flex;
  flex-direction: column;
}

.upload__filters{
  margin-top: 35px;
}
.upload__btn{
  font-family: "Open Sans Bold";
  border-radius: 30px;
  padding: 9px 0;
  border: 3px solid @pink-color;
  color: @pink-color;
  display: block;
  margin: 10px auto;
  width: 280px;
  font-size: 19px;
  line-height: 30px;
    &--cancel{
      border-color: #DDDFE0;
      color: #DDDFE0;
    }
}

.upload__checked{
  margin-top: 33px;
}

@media @tablet-width {
  .upload__form img{
    float: left;
  }
}

@media @desktop-width {
  .upload__btn{
    display: inline-block;
  }
}
