.upload{
  background: @base-bg-second;
  padding: 20px 18px 32px;
}

.upload__form{
  background: @base-bg-second;
  display: flex;
  flex-direction: column;
}

.upload__filters{
  margin-top: 31px;
  position: relative;
  &::after{
    position: absolute;
    content: "";
    min-width: 660px;
    height: 1px;
    bottom: -11px;
    left: -20px;
    background: #DFDFDF;
  }
}
.upload__btn{
  font-family: "Open Sans Bold";
  border-radius: 30px;
  padding: 9px 0;
  border: 3px solid @pink-color;
  color: @pink-color;
  display: block;
  margin: 10px auto;
  width: 280px;
  font-size: 19px;
  line-height: 30px;
  background: transparent;
    &--cancel{
      border-color: #DDDFE0;
      color: #DDDFE0;
      background: #F2F2F2;
    }
}

.upload__checked{
  margin-top: 38px;
}

@media @tablet-width {
  .upload{
    padding: 57px 40px 32px;
  }

  .upload__form{
    flex-wrap: wrap;
    height: 420px;
  }

  .upload__checked{
    margin-top: 45px;
    padding-left: 27px;
  }

  .upload__form img{
    width: 300px;
  }

  .upload__btn{
    font-size: 18px;
    width: 260px;
    margin: 10px auto 24px;
    &--cancel{
      margin-bottom: 0;
    }
  }

  .upload__filters::after{
    display: none;
  }
}
@media @desktop-width {
  .upload{
    background: transparent;
    padding: 0;
  }

  .upload__btn{
    display: inline-block;
    width: 180px;
    margin: 0;
  }

  .upload__form{
    .container-desktop;
    padding: 0;
    justify-content: space-between;
    height: 514px;
    box-sizing: border-box;
    padding: 56px 79px;
  }

  .upload__checked{
    display: flex;
    justify-content: space-between;;
    padding: 0;
    width: 410px;
  }

  .upload__photo{
    margin-right: 90px;
  }
}
